<!doctype html>
<html>
<head>
<title>Revolver</title>
<style>
  a{text-decoration: none;color:white;}
  #logo{display:inline;}
  #messages{ height: 317px;overflow:auto;margin: 0; }
</style>
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
<!--
  <nav>
    <div class="nav-wrapper small">
      <a href="#" class="brand-logo center">REV<i class="material-icons small" id="logo">graphic_eq</i>LVER</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#" onclick="invite()">Invite friends</a></li>
      </ul>
    </div>
  </nav>
-->
<div class="row">
    <div class="col s12 m3">
      <div class="card red lighten-1">
        <div class="card-content white-text">
          <span class="card-title">Connect Facebook</span><br/>
			<div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="true" data-auto-logout-link="true" data-scope="public_profile,email,user_friends" onlogin=""></div>
        </div>
      </div>
      <button onclick="goOnline()">Online</button>
      <span id="authresponse"></span>
    </div>

    <div class="col s12 m7" style="height:400px">
	      <div class="input-field col s12 m12 z-depth-3">
	      <ul id="messages">
	      </ul>
          <input placeholder="Type message here" class="col s11 m11" id="message" type="text">
          <div class="col s1 m1">
          <a id="send_message" class="btn-floating red"><i class="material-icons">send</i></a></div>
          </div>
    </div>
</div>
<!--
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Revolver inc.</h5>
        <p class="grey-text text-lighten-4">Revolver is omegle with friends.I'm not sure why I call it revolver though.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <a class="github-button" href="https://github.com/Quarrymen" aria-label="Follow @Quarrymen on GitHub">Follow @Quarrymen</a><br><br>
        <a href="https://twitter.com/_vikasbansal" class="twitter-follow-button" data-show-count="false">Follow @vikasbansal</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>
  </div>
</footer>
-->
            
<script>
	// Load the SDK asynchronously
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=1121742734525327";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
</body>
<script src="/socket.io/socket.io.js"></script>
 <!--Import jQuery before materialize.js-->
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<!-- manual script #1 -->
<script src="/javascripts/script.js"></script>
</html>